.list-view {
  list-style: none;
  border-top: 1px solid #dfdfdf;
  margin-top: 10px;
}
.list-view-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
}
.list-view-item-title {
  font-size: 22px;
  font-weight: 500;
}
.list-view-item-description {
  font-size: 18px;
}
.list-view-item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}
.action-btn {
  border: none;
  background: #3f51b5;
  color: #fff;
  padding: 10px;
  margin-left: 2px;
  cursor: pointer;
}
.btn {
  border: none;
  background: #3f51b5;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width: 80px;
}
.tarefa-finalizada {
  opacity: 0.5;
}
.tarefa-finalizada .list-view-item-title,
.tarefa-finalizada .list-view-item-description {
  text-decoration: line-through;
}
.toolbar {
  display: flex;
  justify-content: space-between;
}
.input-group {
  position: relative;
  padding: 0 20px 0 0;
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dfdfdf;
  background: #fff;
  margin-left: 2px;
}
.field-search {
  width: 100%;
  padding: 5px;
  outline: 0;
  font-size: 18px;
  border: none;
}
.clean-search-btn {
  position: absolute;
  width: 20px;
  height: calc(100% - 2px);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  color: #dfdfdf;
  cursor: pointer;
  display: none;
}
.visible {
  display: flex;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 1;
  font-size: 12px;
  font-weight: 400;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
