<div class="toolbar">
  <button type="button" routerLink="/tarefas/criar" class="btn">
    <i class="fa fa-plus"></i>
    Nova
  </button>
  <input (keypress)="findByName($event)" class="field-search">
</div>
<ul class="list-view">
  <li *ngFor="let tarefa of tarefas" class="list-view-item">
    <div class="list-view-item-container"
      [ngClass]="{'tarefa-finalizada' : tarefa.status === 'Finalizada'}">
      <div class="list-view-item-title">
        {{tarefa.nome}}
      </div>
      <div class="list-view-item-description">
        {{tarefa.descricao}}
      </div>
    </div>
    <div class="list-view-item-actions">
      <button type="button"
        class="fa fa-check action-btn"
        (click)="finalize(tarefa)"
        [ngClass]="{'tarefa-finalizada' : tarefa.status === 'Finalizada'}"
        [disabled]="tarefa.status === 'Finalizada'"></button>
      <button type="button"
        class="fa fa-pencil action-btn"
        routerLink="/tarefas/editar/{{tarefa.id}}"
        [ngClass]="{'tarefa-finalizada' : tarefa.status === 'Finalizada'}"
        [disabled]="tarefa.status === 'Finalizada'"></button>
      <button type="button"
        class="fa fa-trash action-btn"
        (click)="remove(tarefa)"
        [ngClass]="{'tarefa-finalizada' : tarefa.status === 'Finalizada'}"
        [disabled]="tarefa.status === 'Finalizada'"></button>
    </div>
  </li>
</ul>
