.form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.form label {
    font-weight: 400;
}

.field {
    border: 1px solid #dfdfdf;
    outline: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    border: none;
    background: #3f51b5;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}