.header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.container {
  width: 60%;
  margin: auto;
}
.app-logo a {
  text-decoration: none;
}
.app-name {
  font-size: 28px;
  font-weight: 500;
  color: #333;
}
.pages {
  padding: 10px 0;
}
.footer {
  border-top: 1px solid #dfdfdf;
  padding: 10px 0;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
