<div class="header">
    <div class="navbar container">
        <div class="app-logo">
            <a href="" routerLink="/">
                <span class="app-name">
          Tarefas App
        </span>
            </a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer-container">
            Tarefas App &copy; 2021 - Desenvolvido por Lázaro Coutinho
        </div>
    </div>
</div>